In [37]:
import pandas as pd
import numpy as np
info_df = pd.read_csv('hdb-carpark-information-with-lat-lng.csv')
info_df.iloc[0]

data = {
    u'CarParkID' : info_df.iloc[0][1],
    u'address': info_df.iloc[0][2],
    u'car_park_type': info_df.iloc[0][3],
    u'type_of_parking_system': info_df.iloc[0][4],
    u'short_term_parking': info_df.iloc[0][5],
    u'free_parking': False if info_df.iloc[0][6] == 'NO' else True,
    u'night_parking': True if info_df.iloc[0][7] == 'YES' else False,
    u'car_park_decks': info_df.iloc[0][8],
    u'gantry_height': info_df.iloc[0][9],
    u'car_park_basement': True if info_df.iloc[0][10] == 'Y' else False,
    u'location': (info_df.iloc[0][11] , info_df.iloc[0][12])
}

print(data)
print(len(info_df))

{'CarParkID': 'A2', 'address': 'BLK 206/207 ANG MO KIO STREET 22', 'car_park_type': 'SURFACE CAR PARK', 'type_of_parking_system': 'ELECTRONIC PARKING', 'short_term_parking': 'WHOLE DAY', 'free_parking': True, 'night_parking': True, 'car_park_decks': 0, 'gantry_height': 0.0, 'car_park_basement': False, 'location': (1.366237056, 103.8430464)}
1770